<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/117b0fb8d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Fin de proyecto</title>
</head>
<body>
    <header>
        <div class="mitad">
            <img src="/images/dh-logo.png" alt="dh-logo">
        </div>
        <div class="mitad">
            <h4>José Abraham Montelongo Campos</h4>
        </div>
    </header>
    <div class="subtitulos">
        <h4>Modulo 4 Anatomía de un sitio web</h4>
        <h5><a href="/Mercado-Liebre">Proyecto Final Mercado Liebre</a></h5>
        <div class="img">
            <a href="/Mercado-Liebre"><img src="/images/practica/logo-mercado-liebre.svg" alt=""></a>
        </div>
    </div>
    
    <div class="list">
        <div>
            <p>Contenido de clases</p>
            <ul class="list-proyect">
                <li><a href="/proyecto-clase-11">Creando la estructura de un sitio web</a></li>
                <li><a href="/proyecto-clase-12">Agregando estilos</a></li>
                <li><a href="/proyecto-clase-13">Diseño adaptativo</a></li>
                <li><a href="/proyecto-clase-14">Posicionamiento avanzado con Flexbox</a></li>
                <li><a href="/proyecto-clase-15">Trabajando con Formularios</a></li>
                <li><a href="/proyecto-clase-16">Organizando y animando elementos</a></li>
            </ul>
        </div>
        <div>
            <p>Practica integradora</p>
            <ul class="list-practice">
                <li><a href="/practica-clase-11">Estructura de un sitio web</a></li>
                <li><a href="/practica-clase-12">Agregando estilos</a></li>
                <li><a href="/practica-clase-13">Diseño adaptativo</a></li>
                <li><a href="/practica-clase-14">Posicionamiento avanzado con Flexbox</a></li>
                <li><a href="/practica-clase-15">Formularios</a></li>
                <li><a href="/practica-clase-16">Organizando elementos</a></li>
            </ul>
        </div>
    </div>
    <div class="fondo-img">
        <img src="/images/html-css-bien.png" alt="html-css">
    </div>
</body>
</html>